html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header h1{
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
nav {
    width: 20rem;
    position: relative;
    top: 0.6rem;
    right: 3rem;
}
ul {
    display: flex;
    justify-content: space-between;
}
li {
    list-style: none;
    font-size: 1.5rem;
}
section {
    width: 95vw;
    margin: 1rem;
}
article {
    display: flex;
   
    margin: 1.5rem;
}
.content {
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
}
h2 {
    font-weight: 600;
}
footer {
    background-color: black;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}